{% load i18n widget_tweaks %}
<div id="form{{ content.id }}">
  {% if content.show_form_title %}
    <h2>{{ content.form.title }}</h2>
  {% endif %}
  {% if form %}
  <form method="post" action="#form{{ content.id }}" class="{{ content.formclass }}">
    {% csrf_token %}
    <input type="hidden" name="_formcontent" value="{{ content.id }}">
    {% for field in form %}
      <div class="{{ content.wrapperdivclass }}">
        {{ field.errors }}
        {{ field.label_tag }} 
        <span class="form-required" title="This field is required.">*</span> 
        {% render_field field class+="form-text" %}
      </div>
    {% endfor %}
    <input type="submit" value="{{ content.submit_caption }}"></td>
  </form>
  {% else %}
    {{ message|safe }}
  {% endif %}
</div>
